<span style="color: red">{{ status }}</span>
<div>
    <h1>
        <form method="POST">
            <label>Username: </label>
            <input type="text" name="username" required><br />
            <label>Password: </label>
            <input type="password" name="password" required><br />
            <input type="submit" value="Sign up!">
        </form>
    </h1>
</div>